<div class="row">
    <div class="col-xs-10">
        <app-shopping-list-edit></app-shopping-list-edit>
        <hr>
        <ul class="list-group" *ngFor="let ing of ingredients">
            <a 
                class="list-group-item" 
                style="cursor: pointer">
                <span>{{ ing.name }}</span>
                <span> | </span>
                <span>{{ ing.quantity }}</span>
                <span> | </span>
                <span>{{ ing.measurement }}</span>
            </a>
        </ul>
    </div>
</div>